<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
</head>

<body>

    {% include "main/includes/navbar.html" %}
    {% include "main/includes/messages.html" %}
    <div class = "container">
        <br>
        {% block content %}

        {% endblock %}
    </div>

</body>

<!-- Prism JS -->
<script src="{% static "tinymce/js/prism.js" %}"></script>
